:root{
  --lightBlue: #149ddd;
  --white: #fff;
  --blue: #173b6c;
  --borderColor: #2c2f3f;
  --linkColor: #a8a9b4;
  --darkColor: #050d18;
  --resumeBorderColor: #1f5297;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

section{
  padding: 60px 0px;
  overflow-x: hidden;
}

.font-raleway{
  font-family: 'Raleway', sans-serif;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}

.container{
  padding: 0px 26px;
}

.customParaStyle{
  letter-spacing: 0.7px;
  line-height: 26px;
  margin-bottom: 0px;
}

.headerWrapper{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 0px 15px;
  background-color: #040b14;
  overflow-y: auto;
  z-index: 9999;
}

.profilePicWrapper img{
 width: 120px;
 margin: 15px auto;
 border: 8px solid var(--borderColor);
 border-radius: 50%;
}

.socialLinks{
  margin-left: 28px;
  margin-right: 28px;
}

.iconWrapper{
  background-color: #212431;
  border: 1px solid #212431;
  border-radius: 50%;
  padding: 4px 0;
  width: 36px;
  height: 36px;
  font-size: 16px;
}

.iconWrapper:hover{
  background-color: var(--lightBlue);
  border-color: var(--lightBlue);
}

nav{
  padding: 30px 0px 0px;
}

nav ul li{
  list-style: none;
  margin-bottom: 8px;
  cursor: pointer;
}

nav ul li a{
  padding: 12px 15px;
  text-decoration: none;
  
}

nav ul{
  padding-left: 1rem !important;
}

nav ul li a span{
  font-size: 16px;
  color: #a8a9b4;
}

.navActive{
  color: var(--lightBlue);
}

nav ul li a:hover span{
  color: #fff;
}

.navLink i{
  color: #6f7180;
  /* font-size: 24px;
  padding-right: 8px; */
}

.navLink:hover i{
  color: var(--lightBlue);
}

.nav-item .active span{
  color: var(--white);
}

.nav-item .active i{
  color: var(--lightBlue);
}

/* home section */

#home{
  background-image: url(./assets/Profile/hero-bg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

#home::before{
  content: '';
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.heroHeadingWrapper{
  z-index: 2;
  min-width: 300px;
}

.heroHeadingWrapper h1{
  font-size: 64px;
  line-height: 56px;
  margin: -50px 0px 10px -100px;
}

.heroHeadingWrapper p{
  margin: 0px 0px 50px -94px;
  font-size: 26px;
}

.heroHeadingWrapper p span .Typewriter{
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--lightBlue);
}

.animate__animated.animate__fadeIn{
  --animate-duration: 5s;
}

.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeInRight{
  --animate-duration: 2s;
}



/* about us section */

.aboutSectionWrapper, .factsWrapper,
.skillsWrapper, .resumeSectionWrapper{
margin-left: 300px;
}

.aboutHeading, .resumeHeading{
  padding-bottom: 30px;
}

.aboutHeading h2, .resumeHeading h2{
  color: var(--blue);
  padding-bottom: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.aboutHeading h2::after, .resumeHeading h2::after{
  content: '';
  position: absolute;
  background-color: var(--lightBlue);
  display: block;
  width: 50px;
  height: 3px;
  bottom: 0;
  left: 0;
}

.profileImgWrapper img{
  max-width: 404px;
  width: 100%;
}

.introWrapper h3{
  font-size: 26px;
  color: var(--blue);
}

.detailsList ul{
  list-style: none;
  padding-left: 0px;
}

.listIcon{
  color: var(--lightBlue);
  margin-right: 5px;
}

.detailsList ul li{
  margin-bottom: 20px;
  
}

.detailsList ul li strong{
  margin-right: 5px;
}
 
/* facts section  */

.factsWrapper, .skillsWrapper{
  padding-bottom: 30px;
}

.countBox{
  padding: 30px;
}

.factsIcon{
  display: block;
  font-size: 44px;
  color: var(--lightBlue);
  float: left;
  line-height: 0;
}

.number{
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: var(--darkColor);
  margin-left: 60px;
}

.countBox p{
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

/* .countBox p strong{
  font-size: 14px;
  color: #122f57;
} */

/* skills section */
.skillsWrapper{
  background-color: #f5f8fd;
}

.progress, .progress-stacked{
  height: 10px;
  border-radius: 0px;
  --bs-progress-bar-bg: #149ddd !important;
  margin-top: 6px;
  margin-bottom: 20px;
}

.progressSpan{
  font-weight: 600;
  font-size: 12px;
  color: var(--darkColor);
}

.progressSpan .val{
  font-style: normal;
  float: right;
}

.progress-bar{
 transform: scaleX(0);
 transform-origin: left;
 animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
 /* animation-delay: 4s; */
}

.progress .progress-bar.animate{
  animation: animate 1.5s 0.5s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
  100% {
    transform: scaleX(1);
  }
}

/* resume section style */

.resumeTitle{
  font-size: 26px;
  color: var(--darkColor);
  margin: 20px 0px;
}

.resumeItem{
  padding: 0px 0px 0px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--resumeBorderColor);
  position: relative;
}

.resumeItem::before{
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0px;
  background-color: var(--white);
  border: 2px solid var(--resumeBorderColor);
}

.resumeItem h4{
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: var(--darkColor);
  margin-bottom: 10px;
}

.resumeItem ul{
  padding-left: 20px;
}

.resumeItem ul li{
  padding-bottom: 10px;
}

.resumeItem h5{
  background-color: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}